/QodoTest/QodoTest.Tests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/QodoTest/QodoTest.Tests/obj/Debug/net8.0/QodoTest.Tests.AssemblyInfo.cs
/QodoTest/QodoTest.Tests/obj/Debug/net8.0/QodoTest.Tests.AssemblyInfoInputs.cache
/QodoTest/QodoTest.Tests/obj/Debug/net8.0/QodoTest.Tests.assets.cache
/QodoTest/QodoTest.Tests/obj/Debug/net8.0/QodoTest.Tests.csproj.AssemblyReference.cache
/QodoTest/QodoTest.Tests/obj/Debug/net8.0/QodoTest.Tests.GeneratedMSBuildEditorConfig.editorconfig
/QodoTest/QodoTest.Tests/obj/Debug/net8.0/QodoTest.Tests.GlobalUsings.g.cs
/QodoTest/QodoTest.Tests/obj/project.assets.json
/QodoTest/QodoTest.Tests/obj/project.nuget.cache
/QodoTest/QodoTest.Tests/obj/project.packagespec.json
/QodoTest/QodoTest.Tests/obj/QodoTest.Tests.csproj.nuget.dgspec.json
/QodoTest/QodoTest.Tests/obj/QodoTest.Tests.csproj.nuget.g.props
/QodoTest/QodoTest.Tests/obj/QodoTest.Tests.csproj.nuget.g.targets
/QodoTest/QodoTest.Tests/obj/rider.project.restore.info
